/* Color Palette
background color: #93979D
Nav bar color: #556473
Heading colors: #F0C548
Highlight colors: #c50e0e
*/
body{
    background-color: #93979D;
}

.image {
    width: 110px;
    border-radius: 50%;
    display: inline-block;
    position: center;
}

nav{
    position: fixed;
    top: 3;
    width: 100%;
    position: sticky;
    top: 0;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top:0;
    overflow: hidden;
    background-color:#556473;
    height:auto;
}


.navbar li{
    float: left;
    border-right: 1px solid #2d333f;
}

.navbar li:last-child {
    border-right: none;
    text-align: center;
  }

.navbar li a{
    display: block;
    color: rgba(255, 255, 255, 0.521);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover{
    color: #fa0400;
}

.column{
    float: left;
    width: 30%;
}
.row:after{
    content: "";
    display: table;
    clear:both;
}

@media screen and (max-width: 600px){
    .column{
        width:50%;
    }
}

.section_titles{
    color: #F0C548;
    text-align: Center;
}
a:hover{
    color: #c50e0e;
}
.cards{
    border: 5px #aaacb3;
    background-color: #508897;
    border-radius: 3px;
    margin: 3px;
}