/* Color Palette
background color: #1E201E
Text color outside of boxes: #7A668F
Nav bar color: #5D728E
Container color: #747C8E
box color: #5D728E
text color inside of box: azure
*/
body{
    background-color: #1E201E;
    color: #7A668F;
}

.image {
    width: 110px;
    border-radius: 50%;
    display: inline-block;
    position: center;
}

nav{
    position: fixed;
    top: 3;
    width: 100%;
    position: sticky;
    top: 0;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top:0;
    overflow: hidden;
    background-color:#5D728E;
    height:auto;
}


.navbar li{
    float: left;
    border-right: 1px solid #2d333f;
}

.navbar li:last-child {
    border-right: none;
    text-align: center;
  }

.navbar li a{
    display: block;
    color: rgba(255, 255, 255, 0.904);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover{
    color: #fa0400;
}

.hover:hover{
    color: #fa0400;
}

/*.column{
    float: left;
    width: 30%;
}
.row:after{
    content: "";
    display: table;
    clear:both;
}

.section_titles{
    color: #F0C548;
    text-align: Center;
}
a:hover{
    color: #c50e0e;
}
.cards{
    border: 5px #aaacb3;
    background-color: #508897;
    border-radius: 3px;
    margin: 3px;
}
*/

@media screen and (max-width: 1000px){
    .container {
        flex-direction: column;
    }
}

.container{
    background-color:#747C8E;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    /* height: 300px; */
    align-items: center;
}

.box{
    background-color:#5D728E;
    color:azure;
    padding: 10px 10px;
    margin: 5;
    display: inline-block;
    width: 100%;
}

.flex-grow1{
    float: bottom;
    border-bottom: 10px solid #747C8E;
    padding: 10px 10px;
    margin: 5;
    flex-grow: 2;
}

.flex-grow2{
    float: bottom;
    border-bottom: 10px solid #747C8E;
    padding: 10px 10px;
    margin: 5;
    flex-grow: 2;
}

.flex-grow3{
    float: bottom;
    border-bottom: 10px solid #747C8E;
    padding: 10px 10px;
    margin: 5;
    flex-grow: 2;
}

.flex-grow4{
    float: bottom;
    border-bottom: 10px solid #747C8E;
    padding: 10px 10px;
    margin: 5;
    flex-grow: 2;
}