body{
    background-color: #93979D;
}

image {
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}

.border{
    border: 5px solid rgb(48, 59, 122);
}
nav{
    position: fixed;
    top: 3;
    width: 100%;
    position: sticky;
    top: 0;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:sticky;
    top:0;
    overflow: hidden;
    background-color:#aaacb3;
    height:auto;
}


.navbar li{
    float: left;
    border-right: 1px solid #2d333f;
}

.navbar li:last-child {
    border-right: none;
    text-align: center;
  }

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover{
    color: #fa0400;
}

@media screen and (max-width: 600px){
    .column{
        width:100%;
    }
}

